- model_class = List
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @lists.each do |list|
      %tr
        %td= link_to list.id, list_path(list)
        %td= list.name
        %td= list.description
        %td= list.user_id
        %td=l list.created_at
        %td= link_to "Prepare new report", [:report, list]
